h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.frame{
    border: "solid";
    display: flex;
    justify-content: center;

}

.drawing-area{
    border: 5px solid;
    display: flex;
    padding: 300px;
    width: 50px;
    margin: 20px;
}